{% extends 'master_crud.html' %}
	{% block titulo %}
		Escuelas Registradas
	{% endblock %}
	{% block titulo1 %}
		Escuelas Registradas
	{% endblock %}
	{% block cuerpo %}
<!-- Aqui se genera la lista de escuelas -->
			<table class="table table-striped">
			<thead>
				<tr>
					<th>Identificador </th>
					<th>Nombre</th>
					<th>Direccion</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			<!-- Revisa si existen escuelas, si no, imprime el aviso. -->
				{% if escuelas %} 
					{% for x in escuelas %}
						<tr>
							<td>{{x.id}}</td> 
							<td>{{x.nombre}}</td>
							<td>{{x.direccion}}</td>
							<td><a class="btn btn-default" href="./editar/{{ x.id }}">Editar</a>
								<a class="btn btn-danger" href="./eliminar/{{ x.id }}">Eliminar</a></td>
						</tr>
					{% endfor %}
				{% else %}
					<h1>No hay Escuelas registradas</h1>
				{% endif %}
			</tbody>
			
		</table>
		<a class="btn btn-default" href="./crear">Agregar Nueva Escuela</a>

	{% endblock %}