{% extends "shared.html" %}
{% block titulo %}
	SIRAIPS - Inicio
{% endblock %}

{# Index del Sitio, esta Template maneja todos los roles de acuerdo a su booleano de rol xD Lo Siento tabla de Roles 
    Como se que los avisos se supone que tienen que salir por defecto, considerense libres de modificar el index de este sitio :) #}
{% block contenido %}
	<div class="row">
		<div class="col-md-10"><h2>Hola {{user.first_name}} Bienvenido al Panel Administrativo</h2></div>
		<div class="col-md-2"><a class="btn btn-danger" href="/siraips/logout">Cerrar Sesión</a></div>

		<div class="col-xs-6">
			<h3><span class="glyphicon glyphicon-book"></span> Gestionar Materias</h3>
			<p>Puede gestionar las Materias de las escuelas </p><a href={% url 'listar_materia' %} class="btn btn-info">Gestionar</a>
		</div>
	
		<div class="col-xs-6">
			<h3><span class="glyphicon glyphicon-apple"></span> Gestionar Alumnos</h3>
			<p>Puede Gestionar los alumnos de las Escuelas </p><a href={% url 'listar_alumno' %} class="btn btn-info">Gestionar</a>
		</div>

		<div class="col-xs-6">
			<h3><span class="glyphicon glyphicon-list"></span> Gestionar Inscripcion</h3>
			<p>Gestionar Inscripciones realizadas por los Alumnos </p><a href={% url 'listar_inscripciones' %} class="btn btn-info">Gestionar</a>
		</div>

		<div class="col-xs-6">
			<h3><span class="glyphicon glyphicon-stats"></span> Gestionar Grados</h3>
			<p>Gestionar Grados de los Alumnos </p><a href={% url 'listar_grado' %} class="btn btn-info">Gestionar</a>
		</div>

		<div class="col-xs-6">
			<h3><span class="glyphicon glyphicon-duplicate"></span> Gestionar Avisos</h3>
			<p>Puede crear o actualizar avisos para los docentes y alumnos </p><a href={% url 'listar_avisos' %} class="btn btn-info">Gestionar</a>
		</div>
	</div><br><br><br><br>
{% endblock %}
