{% extends "shared.html" %}
{% block titulo %}
	SIRAIPS - Inicio
{% endblock %}

{# Index del Sitio, esta Template maneja todos los roles de acuerdo a su booleano de rol xD Lo Siento tabla de Roles 
    Como se que los avisos se supone que tienen que salir por defecto, considerense libres de modificar el index de este sitio :) #}
{% block contenido %}
			<div class="alert alert-danger" role="alert">
				  Usted no esta autorizado para ver este sitio, contacte con el Administrador del Sitio para solucionar este problema.
			</div>
			<a class="btn btn-danger" href="/siraips/logout">Cerrar Sesión</a>
{% endblock %}
