.container
{
	-webkit-box-shadow: 0px 11px 24px 6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 11px 24px 6px rgba(0,0,0,0.75);
	box-shadow: 0px 11px 24px 6px rgba(0,0,0,0.75);
}

.jumbotron
{
	padding: 15px 5px 5px 5px;
}

.lead
{
	padding-top: 50px;
}