{% extends 'master_crud.html' %}
	{% block titulo %}
		Grados Registrados
	{% endblock %}
	{% block titulo1 %}
		Grados Registrados
	{% endblock %}
	{% block cuerpo %}
<!-- Aqui se genera la lista de escuelas -->
			<table class="table table-striped">
			<thead>
				<tr>
					<th>Identificador </th>
					<th>Nombre de Grado</th>
					<th>Numero de Grado</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			<!-- Revisa si existen los grados, si no, imprime el aviso. -->
				{% if grados %} 
					{% for x in grados %}
						<tr>
							<td>{{x.id}}</td> 
							<td>{{x.nombreGrado}}</td>
							<td>{{x.numeroGrado}}</td>
							<td><a class="btn btn-default" href="./editar/{{ x.id }}">Editar</a>
								<a class="btn btn-danger" href="./eliminar/{{ x.id }}">Eliminar</a></td>
						</tr>
					{% endfor %}
				{% else %}
					<h1>No hay Grados registrados en su escuela</h1>
				{% endif %}
			</tbody>
			
		</table>
		<a class="btn btn-default" href="./crear">Agregar Nuevo Grado</a>

	{% endblock %}