{% extends 'master_crud.html' %}
	{% block titulo %}
		Gestion de Grados
	{% endblock %}
	{% block titulo1 %}
		Eliminando {{ grado.nombreGrado }}
	{% endblock %}
	{% block cuerpo %}
	<h3>El grado {{grado.nombreGrado}} esta a punto de eliminarse. ¿Seguro que desea continuar? </h3>
	<!-- Este formulario solo sirve para validar el metodo de la request como POST. Entonces se confirma que se desea eliminar -->
		<form method="post">
			{% csrf_token %}
			<button type="submit" class="btn btn-danger">Confirmar Eliminacion</button>
		</form>

	{% endblock %}