{% extends 'master_crud.html' %}
	{% block titulo %}
		Gestion de Avisos
	{% endblock %}
	{% block titulo1 %}
		Eliminando {{ aviso.encabezado }}
	{% endblock %}
	{% block cuerpo %}
	<h3>El Aviso {{aviso.encabezado}} creado el {{ aviso.fechaPublicacion }} esta a punto de eliminarse. ¿Seguro que desea continuar? </h3>
	<!-- Este formulario solo sirve para validar el metodo de la request como POST. Entonces se confirma que se desea eliminar -->
		<form method="post">
			{% csrf_token %}
			<button type="submit" class="btn btn-danger">Confirmar Eliminacion</button>
		</form>

	{% endblock %}