{% extends 'master_crud.html' %}
	{% block titulo %}
		Agregar Alumnos
	{% endblock %}
	{% block titulo1 %}
		
	{% endblock %}
 	{% block headerScripts %}
	<script src="/static/js/alumnosAgregar.js"></script>
	{% endblock %}
	{% block cuerpo %}
	<p>
		<input type="button" value="Agregar +" onClick="addInput('dynamicInput');">
		<input type="button" value="Limpiar" onClick="location.href=location.href">
	</p>
	<br>
	<form method="POST">
		<div id="dynamicInput">
		{% csrf_token %}
			<p> Estudiante Nuevo/a: <input name='Nombre' type='text' placeholder='Nombres' required> <input name='Apellido' type='text' placeholder='Apellidos' required> </p>
    	</div>
    <input class="btn btn-success" value="Guardar y Descargar" type="submit">
	</form>


	{% endblock %}