{% extends 'master_crud.html' %}
	{% block titulo %}
		Listado de Alumnos
	{% endblock %}
	{% block titulo1 %}
		
	{% endblock %}
	{% block cuerpo %}
			<table class="table table-striped">
			<thead>
				<tr>
					<th>id </th>
					<th>Nombre Completo</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% if alumnos %}
					{% for x in alumnos %}
						<tr>
							<td>{{x.id}}</td>
							<td>{{x.nombres}}</td>
							<td><a class="btn btn-default" href="./editar/{{ x.id }}">Editar</a>
								<a class="btn btn-danger" href="./eliminar/{{ x.id }}">Eliminar</a></td>
						</tr>
					{% endfor %}
				{% else %}
					<h1>Aun no inscribe ningun alumno.</h1>
				{% endif %}
			</tbody>
			
		</table>
		<a class="btn btn-default" href="./crear">Agregar Nuevo Alumnos</a>


	{% endblock %}