{% extends 'master_crud.html' %}

{% block titulo %}
	Notas
{% endblock %}

{% block titulo1 %}
	Notas del año escolar
{% endblock %}

{% block cuerpo %}
	<table class="table table-striped table-responsive">	
			{% if nota_e %}
			{% for y in nota_g %}
					
						<thead class="thead thead-dark">
							<tr>
								<th scope="col">Nombre materia </th>
								{% for e in nota_e %}
									{% if e.id_evaluacion.id_materia.id == y.id_materia.id %}
										<th scope="col">{{ e.id_evaluacion.nombre }} {{e.id_evaluacion.ponderacion}}</th>
									{% endif %}	
								{% endfor %}
								<th scope="col">Nota global</th>			
							</tr>
						</thead>
						<tbody>
							
							<tr>
								<td>{{y.id_materia.nombreMateria}}</td>
								{%for e in nota_e%}
									{% if e.id_evaluacion.id_materia.id == y.id_materia.id %}
										<td>{{e.nota}}</td>
									
									{%endif%}
								{%endfor%}
								<td>{{y.notaTotal}}</td>
							</tr>

						</tbody>
					
					
			{% endfor %}
			{% else %}
				<th>no</th>
			{%endif%}
	</table>
		

{% endblock %}