{% extends 'master_crud.html' %}
	{% block titulo %}
		Materias Registradas
	{% endblock %}
	{% block titulo1 %}
		Materias Registradas
	{% endblock %}
	{% block cuerpo %}

			<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Escuela </th>
					<th>Nombre</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% if materias %}
					{% for x in materias %}
						<tr>
							<td>{{x.id}}</td>
							<td>{{x.id_escuela.nombre}}</td>
							<td>{{x.nombreMateria}}</td>
							<td><a class="btn btn-default" href="./editar/{{ x.id }}">Editar</a>
								<a class="btn btn-danger" href="./eliminar/{{ x.id }}">Eliminar</a></td>
						</tr>
					{% endfor %}
				{% else %}
					<h1>No hay Materias registradas</h1>
				{% endif %}
			</tbody>
			
		</table>
		<a class="btn btn-default" href="./crear">Agregar Nueva Materia</a>

	{% endblock %}