{% extends 'master_crud.html' %}
	{% block titulo %}
		Eliminar Periodo
	{% endblock %}

	{% block titulo1 %}
		<h1 class="text-danger">Eliminando Periodo</h1>
	{% endblock %}

	{% block cuerpo %}
	<h3 class="text-warning">El periodo {{periodo.id_evaluacion.nombre}} para {{periodo.id_grado.nombreGrado}} esta a punto de eliminarse. ¿Seguro que desea continuar? </h3>
		<form method="post">
			{% csrf_token %}
			<button type="submit" class="btn btn-danger">Confirmar Eliminacion</button>
		</form>
	{% endblock %}