{% extends 'master_crud.html' %}

{% block titulo %}
	Listar Periodos
{% endblock titulo %}

{% block titulo1 %}
	Lista de Periodos
{% endblock titulo1 %}

{% block cuerpo %}
	<!-- Aqui se genera la lista de periodos -->
			<table class="table table-striped">
			<thead>
				<tr>
					<th>id Periodo</th>
					<th>Evaluacion</th>
					<th>Grado</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			<!-- Revisa si existen escuelas, si no, imprime el aviso. -->
				{% if periodos %} 
					{% for periodo in periodos %}
						<tr>
							<td>{{periodo.id}}</td> 
							<td>{{periodo.id_evaluacion.nombre}}</td>
							<td>{{periodo.id_grado.nombreGrado}}</td>
							<td><a class="btn btn-default" href="./editar/{{ periodo.id }}">Editar</a>
								<a class="btn btn-danger" href="./eliminar/{{ periodo.id }}">Eliminar</a></td>
						</tr>
					{% endfor %}
				{% else %}
					<h1>No hay Inscripciones registradas</h1>
				{% endif %}
			</tbody>
			
		</table>
		<a class="btn btn-default" href="./crear">Agregar Nuevo Periodo</a>
{% endblock cuerpo %}