{% extends 'master_crud.html' %}
	{% block titulo %}
		Notas de las evaluaciones
	{% endblock %}
	{% block titulo1 %}
		Bienvenido, estas son las notas de su estudiante
	{% endblock %}
	{% block cuerpo %}
		<table class="table table-striped">
			<thead class="thead thead-dark">
				<tr>
					<td scope="col">Nombre de la materia</td>
					<td scope="col">Nombre de la evalucion</td>
					<td scope="col">Ponderacion</td>
					<td scope="col">Nota</td>
					<td scope="col">Nota global</td>
				</tr>
			</thead>
			<tbody>
				{% if eva %}
					{% if grades %}
						{% for e in eva %}
							{% for nota in grades %}
								<tr>
									{% if nota.id_evaluacion.id == e.id %}
										<td>{{ e.id_materia.nombreMateria }}</td>
										<td>{{ e.nombre }}</td>
										<td>{{ e.ponderacion }}</td>
										<td>{{ nota.nota }}</td>
										<td></td>
									{% endif %}
									
									
								</tr>
							{% endfor %}
						{% endfor %}
					{% else %}
						<h1>No hay notas aún.</h1>
					{% endif %}						
				{% else %}
					<h1>No hay evaluaciones aún.</h1>
				{% endif %}
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>{{ notaT.notaTotal }}</td>
				</tr>
			</tfoot>
		</table>
	{% endblock %}