{% extends 'master_crud.html' %}
	
	{% block titulo %}
		Bienvenido, cree sus evaluaciones.
	{% endblock %}

	{% block titulo1 %}
		Cree aquí sus evaluciones.
	{% endblock %}

	{% block cuerpo %}
		<form method="post">
			{% csrf_token %}
			{{form.as_p}}
			<button type="submit">Guardar</button>
		</form>
	{% endblock %}