{% extends 'master_crud.html' %}
	{% block titulo %}
		Eliminar evaluaciones
	{% endblock %}
	{% block titulo1 %}
		Eliminé sus evaluaciones (Tenga cuidado!)
	{% endblock %}
	{% block cuerpo %}
	<form method="post">
		{% csrf_token %}
		<h3>¿Esta seguro que desea eliminar la evaluacion {{eval.nombre}}?</h3>
		<button type="submit" class="btn btn-danger">Eliminar</button>
		<a class="btn btn-default" href={% url 'elegir_sub' %}>Cancelar</a>
	</form>
		
	{% endblock %}