{% extends 'master_crud.html'%}

{%block titulo%}
	Consultar Departamentos
{% endblock %}

{% block titulo1 %}
	<h1>Consultar Departamentos</h1>
{% endblock %}

{% block cuerpo %}
	<table class="table table-striped">
		<thead>
			<tr>
				<td>Id</td>
				<td>Nombre</td>
				<td>Acciones</td>
			</tr>
		</thead>
		<tbody>
			{% if departamentos %}
				{% for dep in departamentos %}
				<tr>
					<td>{{dep.id}}</td>
					<td>{{dep.nombre}}</td>
					<td><a class="btn btn-primary" href={% url 'dep_edit' dep.id %}>Editar</a>
						<a class="btn btn-danger" href={% url 'dep_delete' dep.id %}>Eliminar</a></td>
				</tr>
				{% endfor %}
			{% else %}
				<h1>No hay registros</h1>
			{% endif %}
	<h3><a class="btn btn-primary" href={% url 'departamento_crear' %}>Agregar</a></h3>
	
		</tbody>
	</table>
{% endblock %}

