{% extends "shared.html" %}
{% block titulo %}
	Añadir departamento
{% endblock %}
{% block menus %}
<!--Para páginas que ya tengan el usuario logeado, utilizar LI de la siguiente forma con menú
<li class="menu-item current"><a href="/Siraips/Escuelas/">Escuelas</a></li>-->
{% endblock %}
{% block contenido %}
	

{% endblock %}