{%extends 'master_crud.html' %}
	{% block titulo %}
		Bienvenido, {{user.first_name}}
	{% endblock %}

	{% block titulo1 %}
		Estas son las materias del estudiante
	{%endblock%}

	{% block estilo %}
		<link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
	{% endblock %}

	{% block cuerpo %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Nombre materia</th>
					
				</tr>
			</thead>
			<tbody>
				{% if materias %}
					{% for m in materias %}
						<tr class="fondo">
						   
							<td>{{m.nombreMateria}}</td>
						   
						</tr>
					{% endfor %}
				{% else %}
					<h1>No tiene materias</h1>
				{% endif %}
			</tbody>
		</table>
			
		
	{% endblock %}