{% extends 'master_crud.html' %}
	{% block titulo %}
		Bienvenido, {{user.first_name}}
	{% endblock %}

	{% block titulo1 %}
		Materias que usted le imparte
	{%endblock%}

	{% block estilo %}
		<link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
	{% endblock %}

	{% block cuerpo %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Nombre materia</th>
					<th>Ingresar notas</th>
					<th>Editar notas</th>
					<th>Consultar notas</th>
					
				</tr>
			</thead>
			<tbody>
				{% if materias %}
					{% for a in materias %}
						<tr class="fondo">
						   
							<td>{{a.nombreMateria}}</td>
							<td><a href={% url 'notas_crear' %} class="btn btn-success">Ingresar notas</a></td>
							<td><a href="" class="btn btn-default">Editar notas</a></td>
							<td><a href={% url 'notas1' student a.id%} class="btn btn-primary">Consultar notas</a></td>
						   
						</tr>
					{% endfor %}
				{% else %}
					<h1>No hay estudiantes</h1>
				{% endif %}
			</tbody>
		</table>
			
		
	{% endblock %}