{% extends 'master_crud.html' %} 
	{% block titulo %}
		Evaluaciones
	{% endblock %}

	{% block titulo1 %}
		Estas son sus evaluaciones
	{% endblock %}

	{% block cuerpo %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre materia</th>
					<th>Numero de grado</th>
					<th>Nombre evaluacion</th>
					<th>Ponderacion</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				{% if evaluacion %}
					{% for evaluation in evaluacion %}
						<tr>
							<td>{{evaluation.id_materia.nombreMateria}}</td>
							<td>{{evaluation.id_grado.nombreGrado}}</td>
							<td>{{evaluation.nombre}}</td>
							<td>{{evaluation.ponderacion}}</td>
							<td><a class="btn btn-default" href={% url 'edit_evaluation' evaluation.id %}>Editar</a>
							</td>
							<td><a class="btn btn-default" href={% url 'del_evaluation' evaluation.id %} >Eliminar evaluacion</a></td>
						</tr>
					{% endfor %}
				{% else %}
					<h1>No hay evaluaciones para mostrar </h1>
				{% endif %}
			</tbody>
			
		</table>

	{% endblock %}