{% extends 'master_crud.html' %}
	{% block titulo %}
		Bienvenido, {{user.first_name}}
	{% endblock %}

	{% block titulo1 %}
		Estos son sus estudiantes inscritos
	{%endblock%}

	{% block estilo %}
		<link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
	{% endblock %}

	{% block cuerpo %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Nombres</th>
					<th>Apellidos</th>
					<th>Sexo</th>
					<th>Direccion</th>
					<th>Responsable</th>
					<th>Numero responsable</th>
				</tr>
			</thead>
			<tbody>
				{% if inscripcion %}
					{% for a in inscripcion %}
						<tr class="fondo">
						   
							<td><a href={% url 'sub_al' a.id_alumno.id %}>{{a.id_alumno.nombres}}</a></td>
							<td>{{a.id_alumno.apellidos}}</td>
							<td>{{a.id_alumno.sexo}}</td>
							<td>{{a.id_alumno.direccion}}</td>
							<td>{{a.id_alumno.nombreResponsable}}</td>
							<td>{{a.id_alumno.numeroResponsable}}</td>
						   
						</tr>
					{% endfor %}
				{% else %}
					<h1>No hay estudiantes</h1>
				{% endif %}
			</tbody>
		</table>
			
		
	{% endblock %}