{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sistema Informatico de Registro académico de Instituciones Públicas Salvadoreñas - UES TPI" />
    <meta name="author" content="grupo 14 - TPI115" />
    <link rel="icon" href="{% static "/" %}/imagenes/minerva.png" type="image/x-icon" />
    <title>
    {% block titulo %}
        - SIN TITULO -
    {% endblock %}
    </title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/static/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/static/css/progression.min.css" rel="stylesheet">
    
    {% block estilo %}

    {% endblock %}

    {% block headerScripts %}
    
	{% endblock %}

</head>
<body>
	<div class="container">
		<header class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
				<h1>
					{% block titulo1 %}
					- SIN TITULO -
					{% endblock %}
				</h1>		
			</div>
			<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-2 col-lg-offset-2 col-lg-2">
				<a class="btn btn-default" href={%url 'index' %}>Inicio</a>
			</div>
		</header>
	
	<section class="row">
	     <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
	     {% block cuerpo %}

	     {% endblock %}

		</div>
	</section>

	<footer class="row footer" >
        <p>© 2017 Universidad de El Salvador - Técnicas de Programación en Internet (TPI115)</p>
      </footer>
	</div>
</body>
</html>