﻿{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="author" content="grupo 14 - TPI115" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sistema Informático de Registro académico de Instituciones Públicas Salvadoreñas - UES TPI" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static "/" %}/imagenes/minerva.png" type="image/x-icon" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>
    {% block titulo %}
        - SIN TITULO -
    {% endblock %}
    </title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/static/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/static/css/progression.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
<div class="container">
      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">SIRAIPS</h3>
        <nav>
          <ul class="nav nav-justified">            
            <!--Ejemplo de cada item de menú
            <li><a href="#">Contact</a></li>-->
            {% block menus %}

            {% endblock %}
          </ul>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
      <div class="form-group">
<div class="col-md-10">
        <p class="lead">Sistema Informático de Registro Académico de Instituciones Públicas Salvadoreñas</p>
        </div>

        <div style="col-md-1 text-right"><img src="/static/imagenes/minerva.png" width="100px" alt="Minerva UES" /></div>
        </div>
      </div>

        {% block contenido %}

        {% endblock %}

      <!-- Site footer -->
      <footer class="footer">
        <p>© 2017 Universidad de El Salvador - Técnicas de Programación en Internet (TPI115)</p>
      </footer>

    </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery-2.2.4.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/progression.min.js"></script>
{% block scripts %}

{% endblock %}
</body>
</html>
