{% extends 'master_crud.html' %}

{% block titulo %}
	Listar Inscripciones
{% endblock titulo %}

{% block titulo1 %}
	Lista de Inscripciones
{% endblock titulo1 %}

{% block cuerpo %}
	<!-- Aqui se genera la lista de inscripciones -->
			<table class="table table-striped">
			<thead>
				<tr>
					<th>id Inscripcion</th>
					<th>Grado</th>
					<th>Alumno</th>
					<th>Anio</th>
					<th>Fecha Hora de Inscripcion</th>
					<th>Activo</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			<!-- Revisa si existen escuelas, si no, imprime el aviso. -->
				{% if inscripciones %} 
					{% for inscripcion in inscripciones %}
						<tr>
							<td>{{inscripcion.id}}</td> 
							<td>{{inscripcion.id_grado.nombreGrado}}</td>
							<td>{{inscripcion.id_alumno.nombres}}</td>
							<td>{{inscripcion.anio}}</td>
							<td>{{inscripcion.fechaHoraInscripcion}}</td>
							<td>{{inscripcion.activo}}</td>
							<td><a class="btn btn-default" href="./editar/{{ inscripcion.id }}">Editar</a>
								<a class="btn btn-danger" href="./eliminar/{{ inscripcion.id }}">Eliminar</a></td>
						</tr>
					{% endfor %}
				{% else %}
					<h1>No hay Inscripciones registradas</h1>
				{% endif %}
			</tbody>
			
		</table>
		<a class="btn btn-default" href="./crear">Agregar Nueva Inscripcion</a>
{% endblock cuerpo %}